<a href="https://colab.research.google.com/github/umi-na/google_colab/blob/main/topic_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 토픽 #2: 데이터 분석 프레임워크 및 관련 라이브러리(Pandas) 소개

Colab 실습 시작 전, 이 노트북의 **복사본을 자신의 구글 드라이브에 저장**함: Colab 메뉴에서 "File" >> "Save a Copy in Drive". "Save a Copy" 메뉴 선택 시 "Copy of topic#2.ipynb" 복사본이 구글 드라이브의 'Colab Notebook' 폴더에 저장됨. 그리고 본사본이 새 브라우저 창에 열림.

## 파이썬 라이브러리 설치

### Pandas 라이브러리 설치

* 아래 셀을 실행하면 Pandas를 설치할 수 있음
* 명령 시작 부분에 “!”를 추가하면 터미널/명령 프롬프트를 열지 않고도 터미널 명령을 실행 할 수 있음
* Colab에서는 기본적으로 Pandas 라이브러리가 설치되어 있음. 따라서 "Requirement already satisfied" - 설치를 하지 않고 설치가 되어 있다는 글이 뜸.

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

### Pandas 외 다른 라이브러리 설치
* 다른 라이브러리를 설치하고 싶다면 "[https://pypi.org/](https://pypi.org/)"에서 라이브러리를 찾아서 설치
* 아래 두개의 셀은 *beautifulsoup4*과 *plotly*를 설치하는 코드 예시임.

In [ ]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [ ]:
!pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.15.0)

## Pandas 라이브러리

### Pandas 라이브러리 import하기

In [ ]:
import pandas as pd

### Series 생성

#### Dictionary로 Series 생성하기
* Dictionary은 key와 value로 구성되어 있음
* Key는 개별 index값을 나타냄 
* Value는 개별 Serial 데이터값을 나타냄

In [ ]:
series_dictionary = pd.Series({'b': 1, 'a': 0, 'c': 2})
series_dictionary.head()

b    1
a    0
c    2
dtype: int64

In [ ]:
d = {'b': 1, 'a': 0, 'c': 2}

In [ ]:
d['a']

0

In [ ]:
series_dictionary = pd.Series(d)
series_dictionary.head()

b    1
a    0
c    2
dtype: int64

#### Array로 Series 생성하기
* Array는 전체 Serial 데이터값을 나타냄
* Index는 전체Index값을 나타냄. 
* Array와 Index의 데이터 수는 같아야함

In [ ]:
series_array = pd.Series([3, 6, 9], index=['b', 'a', 'c'])
series_array.head()

b    3
a    6
c    9
dtype: int64

In [ ]:
series_array = pd.Series([3, 6, 9], index=[2, 1, 3])
series_array.head()

2    3
1    6
3    9
dtype: int64

In [ ]:
import numpy as np

series_array = pd.Series([3, np.nan, 9], index=['b', 'a', 'c'])
series_array.head()

b    3.0
a    NaN
c    9.0
dtype: float64

* Index 생략 시 $index_0$ ~ $index_{n-1}$가 생성됨

In [ ]:
series_array = pd.Series([3, 6, 9])
series_array.head()

0    3
1    6
2    9
dtype: int64

#### 단일값(예: 5)으로 Series 생성하기

* Index 생략 시 데이터가 1개인 Series가 생성됨

In [ ]:
series_single_value = pd.Series(1)
series_single_value.head()

0    1
dtype: int64

* Index가 있으면 index수와 동일하게 데이터 수가 복사됨

In [ ]:
series_single_value = pd.Series(1, index=['b', 'a', 'c'])
series_single_value.head()

b    1
a    1
c    1
dtype: int64

In [ ]:
import numpy as np

series_single_value = pd.Series(np.nan, index=['b', 'a', 'c']) #null은 None, NaN은 Not a Number로 float타입
series_single_value.head()

b   NaN
a   NaN
c   NaN
dtype: float64

### Series 읽기

#### Series 데이터 길이 읽기
* len($Series\_variable$)는 $Series\_variable$의 길이를 반환함

In [ ]:
series = pd.Series({'a': 1, 'c': 0, 'b': 2})
series.head()

a    1
c    0
b    2
dtype: int64

In [ ]:
len(series)

3

In [ ]:
series = pd.Series([1, 2, 3, 5, 6, 7])
series.head(10)

0    1
1    2
2    3
3    5
4    6
5    7
dtype: int64

In [ ]:
len(series)

6

#### Index으로 데이터 값 읽기
* s[$index$]은 해당 $index$에 해당하는 row의 데이터 값을 반환함

In [ ]:
series = pd.Series({'a': 1, 'c': 0, 'b': 2})
series.head()

a    1
c    0
b    2
dtype: int64

In [ ]:
series[0]

1

In [ ]:
series[1]

0

In [ ]:
series = pd.Series({'a': 1, 'c': 'a', 'b': 2})
series.head()

a    1
c    a
b    2
dtype: object

In [ ]:
series[1]

'a'

* s[ [$index_0$, $index_1$, ..., $index_10$] ]은 [$index_0$, $index_1$, ..., $index_10$]의 $index$에 해당하는 모든 row을 포함하는 Series을 반환함

In [ ]:
series = pd.Series({'a': 1, 'c': 'a', 'b': 2})
series.head()

a    1
c    a
b    2
dtype: object

In [ ]:
series[[0]]

a    1
dtype: object

In [ ]:
series[[0, 2]]

a    1
b    2
dtype: object

#### Index값으로 데이터 값 읽기
* Index (순서) 대신 실제 Index값를 사용할 수 있음

In [ ]:
series = pd.Series({'a': 1, 'c': 0, 'b': 2})
series.head()

a    1
c    0
b    2
dtype: int64

In [ ]:
series['c']

0

In [ ]:
series[['a']]

a    1
dtype: int64

In [ ]:
series[['a', 'b']]

a    1
b    2
dtype: int64

#### Index범위로 Series 데이터 읽기

* s[$index_{범위시작}$ : $index_{범위끝}$]는 해당 범위의 모든 row을 포함하는 Series을 반환함

In [ ]:
series = pd.Series({'a': 1, 'c': 0, 'b': 2, 'd': 2, 'e': 5})
series.head()

a    1
c    0
b    2
d    2
e    5
dtype: int64

In [ ]:
series[1:3]

c    0
b    2
dtype: int64

In [ ]:
series[0:2]

a    1
c    0
dtype: int64

In [ ]:
len(series)

5

In [ ]:
series[:5]

a    1
c    0
b    2
d    2
e    5
dtype: int64

* 범위 index가 음수이면 Series 사이즈에서 해당값을 더하면 됨
* 예: 5 + (-1) = 2

In [ ]:
series = pd.Series({'a': 1, 'c': 0, 'b': 2, 'd': 2, 'e': 5})
series.head()

a    1
c    0
b    2
d    2
e    5
dtype: int64

In [ ]:
series[:4]

a    1
c    0
b    2
d    2
dtype: int64

In [ ]:
series[:3]

a    1
c    0
b    2
dtype: int64

In [ ]:
series[3:5]

d    2
e    5
dtype: int64

In [ ]:
series[3:4]

d    2
dtype: int64

### DataFrame 생성하기

#### Dictionary로 DataFrame 생성하기
* Key는 DataFrame의 column name을 나타냄 
* Value는 DataFrame의 column 데이터(Series)을 나타냄

In [ ]:
df1 = pd.DataFrame({'a': [2, 4, 8], 'b' : [3, 6, 9], 'c':[5, 10, 15], 'd':[7, 14, 21]})
df1.head()

   a  b   c   d
0  2  3   5   7
1  4  6  10  14
2  8  9  15  21

#### 2D-Array로 DataFrame 생성하기

In [ ]:
df2 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, 10, 14],[8, 9, 15, 21]], columns=['a', 'b', 'c', 'd'])
df2.head()

   a  b   c   d
0  2  3   5   7
1  4  6  10  14
2  8  9  15  21

#### Column name 데이터 지정

* columns 입력 시 column name이 설정됨

In [ ]:
import pandas as pd

df2 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, 10, 14],[8, 9, 15, 21]], columns=['a', 'b', 'c', 'd'])
df2.head()

   a  b   c   d
0  2  3   5   7
1  4  6  10  14
2  8  9  15  21

In [ ]:
df3 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, 10, 14],[8, 9, 15, 21]])
df3.head()

   0  1   2   3
0  2  3   5   7
1  4  6  10  14
2  8  9  15  21

* column name은 data에 입력되는 column의 수와 동일해야함

In [ ]:
df3 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, 10, 14],[8, 9, 15, 21]], columns=['a', 'b', 'c', 1])
df3.head()

   a  b   c   1
0  2  3   5   7
1  4  6  10  14
2  8  9  15  21

#### Index 데이터 지정

* index값 입력 시 index 데이터이 설정됨

In [ ]:
df3 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, 10, 14],[8, 9, 15, 21]], columns=['a', 'b', 'c', 'd'])
df3.head()

   a  b   c   d
0  2  3   5   7
1  4  6  10  14
2  8  9  15  21

In [ ]:
df3 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, 10, 14],[8, 9, 15, 21]], columns=['a', 'b', 'c', 'd'], index=['r1', 'r2', 'r3'])
df3.head()

    a  b   c   d
r1  2  3   5   7
r2  4  6  10  14
r3  8  9  15  21

In [ ]:
df3 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, 10, 14],[8, 9, 15, 21]], columns=['a', 'b', 'c', 'd'], index=['r1', 'r2', 'r3'])
df3.head()

    a  b   c   d
r1  2  3   5   7
r2  4  6  10  14
r3  8  9  15  21

#### DataFrame 생성 시 결측값은 np.nan

In [ ]:
df3 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, 10, 14],[8, 9, 15, 21]], columns=['a', 'b', 'c', 'd'], index=['r1', 'r2', 'r3'])
df3.head()

    a  b   c   d
r1  2  3   5   7
r2  4  6  10  14
r3  8  9  15  21

In [ ]:
import numpy as np

df3 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, np.nan, np.nan],[8, 9, 15, 21]], columns=['a', 'b', 'c', 'd'], index=['r1', 'r2', 'r3'])
df3.head()

    a  b     c     d
r1  2  3   5.0   7.0
r2  4  6   NaN   NaN
r3  8  9  15.0  21.0

### DataFrame 읽기

#### DataFrame 크기 읽기

* len($DataFrame\_variable$)은 $DataFrame\_variable$의 길이 (index 사이즈)를 반환함

In [ ]:
df1 = pd.DataFrame({'a': [2, 4, 8], 'b' : [3, 6, 9], 'c':[5, 10, 15], 'd':[7, 14, 21], 'e':[7, 14, 21]})
df1.head()

   a  b   c   d   e
0  2  3   5   7   7
1  4  6  10  14  14
2  8  9  15  21  21

In [ ]:
len(df1)

3

* len($DataFrame\_variable.columns$)은 $DataFrame\_variable$ column의 길이 (column 사이즈)를 반환함

In [ ]:
len(df1.columns)

5

In [ ]:
df1.columns

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

#### Column 데이터 읽기

* df[$column\_name$] 은 해당 $column\_name$에 해당하는 column 데이터 serial로 반환함

In [ ]:
df1 = pd.DataFrame({'a': [2, 4, 8], 'b' : [3, 6, 9], 'c':[5, 10, 15], 'd':[7, 14, 21]})
df1.head()

   a  b   c   d
0  2  3   5   7
1  4  6  10  14
2  8  9  15  21

In [ ]:
df1['d']

0     7
1    14
2    21
Name: d, dtype: int64

* df[ [$column\_name_0$, $column\_name_1$] ]은 $column\_name_0$, $column\_name_1$에 해당하는 모든 column 데이터를 DataFrame으로 반환함

In [ ]:
df1[['d', 'b']]

    d  b
0   7  3
1  14  6
2  21  9

#### 개별 Row  읽기

* iloc[$index\_번호$]는 $index\_번호$에 해당하는 row 데이터를 Serial로 반환함

In [ ]:
df3 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, np.nan, np.nan],[8, 9, 15, 21]], columns=['a', 'b', 'c', 'd'], index=['r0', 'r1', 'r2'])
df3.head()

    a  b     c     d
r0  2  3   5.0   7.0
r1  4  6   NaN   NaN
r2  8  9  15.0  21.0

In [ ]:
df3.iloc[0]

a    2.0
b    3.0
c    5.0
d    7.0
Name: r1, dtype: float64

* iloc[ [$index\_번호_0$, $index\_번호_1$] ]은 $index\_번호_0$, $index\_번호_1$ 해당하는 row 데이터를 DataFrame으로 반환함

In [ ]:
df3 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, np.nan, np.nan],[8, 9, 15, 21]], columns=['a', 'b', 'c', 'd'], index=['r0', 'r1', 'r2'])
df3.head()

    a  b     c     d
r0  2  3   5.0   7.0
r1  4  6   NaN   NaN
r2  8  9  15.0  21.0

In [ ]:
df3.iloc[[2, 0, 1]]

    a  b     c     d
r2  8  9  15.0  21.0
r0  2  3   5.0   7.0
r1  4  6   NaN   NaN

* loc[$index\_값$]는 $index\_값$에 해당하는 row 데이터를 Serial로 반환함

In [ ]:
df3 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, np.nan, np.nan],[8, 9, 15, 21]], columns=['a', 'b', 'c', 'd'], index=['r0', 'r1', 'r2'])
df3.head()

    a  b     c     d
r0  2  3   5.0   7.0
r1  4  6   NaN   NaN
r2  8  9  15.0  21.0

In [ ]:
df3.loc['r0']

a    2.0
b    3.0
c    5.0
d    7.0
Name: r0, dtype: float64

* loc[ [$index\_값_0$, $index\_값_1$] ]은 $index\_값_0$, $index\_값_1$ 해당하는 row 데이터를 DataFrame으로 반환함

In [ ]:
df3 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, np.nan, np.nan],[8, 9, 15, 21]], columns=['a', 'b', 'c', 'd'], index=['r0', 'r1', 'r2'])
df3.head()

    a  b     c     d
r0  2  3   5.0   7.0
r1  4  6   NaN   NaN
r2  8  9  15.0  21.0

In [ ]:
df3.loc[['r2', 'r1']]

    a  b     c     d
r2  8  9  15.0  21.0
r1  4  6   NaN   NaN

* df[$index_시작번호$ : $index _끝번호$]는 해당하는 [$index_시작번호$ : $index _끝번호$)범위의 Row 데이터를 DataFrame로 반환함

In [ ]:
df3 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, np.nan, np.nan],[8, 9, 15, 21]], columns=['a', 'b', 'c', 'd'], index=['r0', 'r1', 'r2'])
df3.head()

    a  b     c     d
r0  2  3   5.0   7.0
r1  4  6   NaN   NaN
r2  8  9  15.0  21.0

In [ ]:
df3[0:2]

    a  b    c    d
r0  2  3  5.0  7.0
r1  4  6  NaN  NaN

In [ ]:
df3[-3:-1]

    a  b    c    d
r0  2  3  5.0  7.0
r1  4  6  NaN  NaN

#### 특정 위치의 단일 데이터 값 읽기

* df.iat[$index\_번호$, $column\_번호$]은 $index\_번호$, $column\_번호$에 해당하는 위치의 데이터 값을 반환함

In [ ]:
df3 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, np.nan, np.nan],[8, 9, 15, 21]], columns=['a', 'b', 'c', 'd'], index=['r0', 'r1', 'r2'])
df3.head()

    a  b     c     d
r0  2  3   5.0   7.0
r1  4  6   NaN   NaN
r2  8  9  15.0  21.0

In [ ]:
df3.iat[0, 1] #iat은 integer값

3

* df.at[$index값$, $column\_name$]은 $index값$, $column\_name$에 해당하는 위치의 데이터 값을 반환함

In [ ]:
import numpy as np
df3 = pd.DataFrame(data=[[2, 3, 5, 7],[4, 6, np.nan, np.nan],[8, 9, 15, 21]], columns=['a', 'b', 'c', 'd'], index=['r0', 'r1', 'r2'])
df3.head()

    a  b     c     d
r0  2  3   5.0   7.0
r1  4  6   NaN   NaN
r2  8  9  15.0  21.0

In [ ]:
df3.at['r1', 'd'] #at은 string

nan